html {
  background-color: rgb(236, 236, 236);
  font-family: 'Barlow', sans-serif;
}
body {
  margin: 0;
}
.page-title {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0;
  height: 40px;
  font-size: 16px;
  font-size: 2rem;
}

a {
 text-decoration: none;
 color: black; 
}
/*
.trip-text {
  background-color: #4ffa3f;
  padding: 0;
  display: flex;

}

.trip-text p {
  background-color: lightgrey;
  margin: 0;
  width: 50%;
  text-align: center;
  color: coral;
  font-size: 16px;
  font-size: 1rem;
}*/
.trip-text{
  display: none;
}

.trip-imgs{
  display: flex;
  flex-wrap: wrap;
}
.trip-imgs img {
  width: 100%;
  height: 100%;
} 

.bar {
  height: 70px;
}

.feedback{
  background-color: aqua;
  color: purple;
  text-align: center;
  position: relative;
  margin: 0;
  bottom: 45px;
  height: 45px;
  font-size: 16px;
  font-size: 1rem;
}

.navigation{
  text-align: center;

 }
.navigation li, .navigation a{
  display: inline-block;
  width: 70px;
  background-color: lightcyan;
  font-size: 14px;
  font-size: 0.9rem;
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
}

.review img {
  width: 120px;
}

.review p {
  width: 400px;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
}

@media (min-width: 599px){
  .navigation li, .navigation a{
    font-size: 1.2rem;
  }
  .trip-imgs{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 600px){
  .trip-imgs img {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
  } 

  
  .trip-text {
      background-color: #fa923f;
      padding: 0;
      display: flex;
  }

  .trip-text p {
    background-color: lightgrey;
    margin: 0;
    width: 50%;
    text-align: center;
    color: coral;
    font-size: 16px;
    font-size: 1rem;
}
}