html {
  background-color: rgb(236, 236, 236);
}
body {
  margin: 0;
}
.page-title {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0;
  height: 40px;
}

a {
 text-decoration: none;
 color: black; 
}

.trip-text {
  background-color: #4ffa3f;
  padding: 0;
  display: flex;

}

.trip-text p {
  background-color: lightgrey;
  margin: 0;
  width: 50%;
  text-align: center;
  color: coral;
}

.trip-imgs{
  display: flex;
}
.trip-imgs img {
  width: 50%;
  height: 100%;
} 

.bar {
  height: 70px;
}

.feedback{
  background-color: aqua;
  color: purple;
  text-align: center;
  position: relative;
  margin: 0;
  bottom: 45px;
  height: 45px;
}

img{
  height: 70%;
  width: 60%;
}

.navigation{
  text-align: center;

 }
.navigation li, .navigation a{
  display: inline-block;
  width: 70px;
  background-color: lightcyan;


}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
}

.review img {
  width: 120px;
}

.review p {
  width: 400px;
  text-align: center;
}